@model MDS.Web.ViewModels.JavaViewModel
@{
    ViewBag.Title = "Java Data";
}
<h1>JavaData</h1>

<div>
    <table>
        @foreach (var java in Model.Javas)
            {
            <tr>
                <td>@java.Id</td>
                <td>@java.Name</td>
                <td>@Html.ActionLink(java.Id.ToString(), "Details", new { id = java.Id })</td>
            </tr>

        }
    </table>
</div>

<div>
    <br />
    <br />
    @Html.ActionLink("Create Java", "Create")
</div>

<div>
    <br />
    <br />
    @Html.Partial("_Summery", "Partial View");
</div>

@section footer {
    <div>@Model.CurrentVersion</div>
}
